header{ 
 
  
    
    padding: 10%;
    margin:-10px;
    padding-bottom: 10px;
    background-image:url("pasta/rifle12455555.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    background-size: cover;

    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.425); 
    select{
        font-size: 120%;
        margin: 40px; 
        background: rgba(0, 0, 0, 0.521);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); 
    }
}
#long{position: absolute;
width: 100px;
padding-left: unset;
margin-left: auto;
left: 20px;
top: 20px;}
.OPTIONSD{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: x-large;}


h1{
    margin-top: 60px;
    color: rgba(255, 255, 255, 0.993);
    position: relative;
    text-align: right;
    text-shadow:  2px 2px black;
    font-size: 40px;
}
div{
    background-color: aqua;
}