@charset "UTF-8" ;
*{margin: 0;
padding: 0;}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{ text-shadow: 2px 2px 6px solid white;
    background-color: rgba(106, 113, 133, 0.753);
    color: rgb(3, 2, 1);
}


